 :root{
    --primarycolor: hsl(189, 33%, 50%);
    --primaryAscentcolor: hsl(189, 46%, 28%);
    --secondarycolor: #87CBB9;
    --thirdcolor: #569DAA;
    --backgroundcolor : #B9EDDD;
    --mytitlefont: 'Dancing Script',cursive;
    --titleFont:'Sacramento', cursive;
    --fontDefaultTextFont: 'Lato', sans-serif;
    --fontDefaultHeading: 'Montserrat', sans-serif;
    /* --newfont : font-family: 'Lobster', cursive; */
    
}

/* main css */

body{
    margin: 0px;
    color: var(--primarycolor);
    font-family: var(--fontDefaultHeading);
    line-height: 2;
}

h2 {
    font-family: var(--fontDefaultHeading);
    margin: 0;
    font-size: 2.00rem;  /* 1em = 16px */
    padding-bottom: 20px;
}

.top-section{
    /* color: var(--primary-color); */
    background-color :  var(--backgroundcolor);
    /* font-family: var(--mytitlefont) ; */
    /* height: 400px; */
    text-align: center;
 /* text-overflow: ellipsis; */
    padding-top: 120px;
}

.heading{
    font-family: var(--titleFont); 
   font-size: 4.75rem ;
   margin: 0px;
}

.circular
{
    radius: 100px;
    width: 70px;
    position: absolute;
    margin-left: -500px; 
    margin-top: -215px;
}

.top-cloud{
    width: 100px;
    position: absolute;
    margin-block-start: 300px;
    margin-left: 200px;
    margin-top: 20px;
}


.bottom-cloud{
    width: 100px;
    position: absolute;
    margin-block-start: -60px;
    margin-left: -150px;
    /* margin-top: 100px; */
}

.mountain{
   
    width: 400px;
    margin-bottom: 0px;
}

.img{
    margin-bottom: -5px; ;
} 

.middle-section{
    margin : 50px auto 100px auto;
    text-align: center;
    width: 60%;
}

.profile-pic{
    border-radius: 100%;
    width: 200px;
    display:block;
    margin: 100px auto 50px auto; /*TRBL*/
   
}

.intro{
    width: 75%;
    margin : auto;
}
 
hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted var(--backgroundcolor) 5px;
    border-bottom: none;
    width: 5%;
}

.skill-image
{
    width : 150px;
    float: left;
}

.my-skills{
    margin-bottom: 60px;
}
.left{
    float: left;
    margin-right: 40px;
}
.right{
    float: right;
    margin-left: 40px;
}

.skill-row
{
    text-align: left;
    margin-bottom: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.contact{
    background-color: var(--primarycolor) ;
    font-size: 1.75rem;
    padding: 10px 20px;
    border-radius: 15px;
}
.contact:hover{
    background:var( --primaryAscentcolor);

}
.bottom-section
{
    margin: 0px auto;
    text-align: center;
    background-color: var(--primarycolor);
}

.social{
    padding: 40px 0;
}
.social-link{
    margin:0px 40px;
}
.social-link:hover{
    color:var( --secondarycolor);
}


.copyright{
    margin: 0px;
    padding-bottom: 40px;
    color: white;
    font-size: 0.75rem;
}
