body{
    background-image: linear-gradient(
        to bottom,
       #FFE6E6 0%,
       #F2D1D1 50%,
       #DAEAF1 50%,
       #C6DCE4 100%
    );
   height: 50vh;

}
   .hello{
     margin-top: 150px;
     text-decoration: double; 
   }
