/* .div{
    background-color: rgb(220, 245, 223);
} */

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}