body{
    background-color: aqua;
    text-align: center;
    font-size: 16px;
}
div{
    display:inline;
    width: 100px;
    height: 200px;
}
.red{
    background-color: red;
}

.pink{
    background-color: pink;
}
.mazenta{
    background-color: rgb(214, 18, 214);
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
.brown{
    background-color: brown;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
 @media screen and (min-width : 1000px){

    body{
        background-color: gold;
    }
}
@media screen and (min-width: 700px) and (max-width: 999) {
    body{
        background-color: rgb(165, 15, 28);
    } 
    
}

@media screen and (max-width: 500px) {
    div{
       display:block;
    } 
    
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .red{
        background-color: blue; 
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .red{
        background-color: orange; 
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .red{
        background-color: yellow; 
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .red{
        background-color: brown; 
    }
}
@media screen and (min-width: 1201px) {
    .red{
        background-color: red; 
    }
}
@media screen and (prefers-color-scheme: dark) {
    body{
        background-color: blueviolet;
    }
    
}
/* @media (orientation: portrait) {
    body{
        background-color: darksalmon;
    }
    
} */